body {
    background-color: rgba(131, 94, 94, 0.637);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
    font-family: "DS-DIGIT" ;
    src: url("fonts/DS-DIGIT.TTF");
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#Calculator{
    background-color: #575757;
    max-width: 550px;
    margin: 50px auto;
    padding: 30px 30px 0 30px;
    border-radius: 15px;
    box-shadow: 15px 15px 0px #424242;
}

#Calculator::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 8px;
    background-color:#424242;
    transform: rotate(45deg);
    margin-left: -25px;
    margin-top: -2px;
    z-index: -1;

}

#Calculator::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 8px;
    background-color: #424242;
    transform: rotate(45deg);
    margin-left: 510px;
    margin-top: -15px;
    z-index: -1;

}

@media(max-width:540){
   
#Calculator::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 8px;
    background-color: #424242;
    transform: rotate(45deg);
    margin-left: 410px;
    margin-top: -15px;
    z-index: -1;

} 
}


#Calculator > .operands {
    width: 100%;
    padding: 20px;
    background-color: rgb(41, 216, 93);
    margin-bottom: 20px;
    border-radius: 5px;
}


#Calculator > .btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    

}
    
#Calculator > .btn-grid > button {
    padding: 10px;
    background-color: #ececec;
    font-weight: bold;
    border-radius: 10px;
    border-width: 5px;
    border-color: #c9c9c9;
    font-size: 25px;  
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    
}


#Calculator > .btn-grid > button:hover {
    box-shadow: 4px 4px 8px rgba(0, 0,0, 0.5);
    background-color: #9f9595;
}





#Calculator > .btn-grid > button:nth-child(2) {
    grid-column: span 2;
}

#Calculator > .btn-grid > button:last-child{
    grid-column:  span 2;
    background-color: antiquewhite;
    border-color: rgb(254, 219, 173);
}

  #copy {
    font-size: 12px;
    padding: 10px;
    color: #f8ab2e;
    text-align: center;
  }


h1 {
    text-align: center;
    color: rgb(29, 1, 1);
    font-size: 250%;
}


/*
footer {
    position: fixed;
    bottom: 0;
    left:0 ;
    background-color: #f1e1ba; 
    padding: 10px; 
    border-top-right-radius: 10px; 
    font-style: italic;
}
    */

    .result {
        font-size: 40px;
        font-family: DS-DIGIT;
        padding: 10px;
        opacity: 70%;
        text-align: right;
        white-space: nowrap; /* Asegura una sola línea */
        overflow-x: hidden; /* Recorta el texto que excede el ancho */
    }
.numerals {
    position: relative;
    text-align: right; /* Alineación a la derecha */
    font-size: 70px;
    font-family: DS-DIGIT;
    width: 100% !important;
    padding: 10px;
    white-space: nowrap;
    overflow-x: hidden; /* Oculta el texto que excede el ancho */
}